[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = {version = "*", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}
ultralytics = "*"
flask = "*"
flask-reuploaded = "*"
flask-wtf = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
